
body {
	background-color: #333;
	font-family: 'Abel', sans-serif;

}

button {
	border: 2px solid white;
	background-color: transparent;
	padding: 6px 16px;
	color: white;
	font-size: 22px;
	display: block;
}

#signature {
	display: flex;
	max-width: 900px;
	margin: 0 auto;
	color: white;
	font-size: 20px;

}

.column {
	border: 1px solid green;
	flex: 1;
}


/*
#capture {
	.holder {
		position: relative;
		img{
			opacity: .3;
		}
		canvas {
			border: 1px solid red;
			position: absolute;
			left:0;
			top:0;
		}
	}
	p.points{
		color: pink;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
}*/